.board-modal {
	// background: grey;
	// width: 300px;
	width: 296px;
	height: 75px;
	margin: 100px auto;
	border-radius: 3px;
}

.board-modal .creator-form {
	padding: 10px;
}

.board-modal input {
	margin-bottom: 5px;
	width: 240px;
}

.board-item {
	border-radius: 3px;
	padding: 8px;
	height: 80px;
	margin: 10px;
	width: 12%;
	cursor: pointer;
	background: rgb(0, 121, 191);
	color: #fff;
	font-weight: bold;
	span{
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
	&:hover {
		filter: brightness(90%);
	}
}

.board-item--create {
	background: #f0f2f4;
	color: #172b4d;
	top: 25%;
	display: flex;
	text-align: center;
	font-weight: normal;
	&:hover {
		filter: brightness(90%);
	}
	span {
		align-self: center;
		margin: 0 auto;
	}
}

.board-list {
	display: flex;
	flex-wrap: wrap;
}

.board-list-title {
	align-self: flex-start;
	margin-left: 5px;
	color: #172b4d;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
}

.board-title {
	font-size: 18px;
	font-weight: 700;
	padding-top: 12px;
	*{
		display: inline;
	}
	input {
	  max-width: min-content;
	}
  }