.board-view-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(0, 121, 191);
}

.board-view-header {
  color: #fff;
  height: 48px;
  padding-left: 10px;
}


.board-view-content {
  display: flex;
  overflow-x: scroll;
  flex-grow: 1;
}

.board-lane {
  margin: 5px;
  width: 272px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.lane-content {
  border-radius: 3px;
  background: #ebecf0;
  color: rgb(23, 43, 77);
  overflow-y: auto;
}

.lane-header {
  min-height: 40px;
  font-weight: bold;
  padding: 14px 12px;
  cursor: pointer;
}

.lane-creator {
  margin: 0px;
}

.lane-creator .creator-toggle {
  height: 40px;
  color: #fff;
  background: #3d99ce;
  // background: hsla(0,0%,100%,.24);
  padding: 10px 8px;
  &:hover {
    // filter: brightness(90%);
    background: #52a4d4;
  }
}

.lane-content .creator-toggle {
  height: 28px;
  background: #ebecf0;
  color: rgb(23, 43, 77);
  padding: 4px 8px;
  &:hover {
    filter: brightness(90%);
  }
}

.lane-creator .creator-form {
  padding: 4px;
}