.board-view-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(0, 121, 191);
}

.board-view-header {
  color: #fff;
  height: 48px;
  padding-left: 16px;
}

.board-view-container {
  position: relative;
  flex-grow: 1;
}

.page-message {
  justify-content: center;
  display: flex;
  font-size: 26px;
}

.board-view-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: hidden;
}

.board-lane {
  margin: 0px 4px;
  min-width: 272px;
  max-width: 272px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  &:first-child {
    margin-left: 8px;
  }
  &:last-child {
    margin-right: 8px;
  }
}

.lane-content {
  border-radius: 3px;
  background: #ebecf0;
  color: rgb(23, 43, 77);
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.lane-header {
  min-height: 40px;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 14px;
  cursor: pointer;
}

.lane-creator .creator-toggle {
  height: 40px;
  color: #fff;
  background: #3d99ce;
  // background: hsla(0,0%,100%,.24);
  padding: 10px 8px;
  &:hover {
    // filter: brightness(90%);
    background: #52a4d4;
  }
}

.lane-content {
  .creator-section {
    padding: 5px;
  }
  .creator-toggle {
    height: 28px;
    background: #ebecf0;
    color: #5e6c84;
    padding: 4px 8px;
    &:hover {
      filter: brightness(90%);
    }
  }
}

.lane-creator .creator-form {
  padding: 4px;
}
