.cards-list {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  overflow-x: hidden;
}

.card-item {
  background: #fff;
  margin: 5px;
  min-height: 32px;
  border-radius: 3px;
  padding: 6px 8px 2px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  max-width: 260px;
  &:hover {
    filter: brightness(90%);
  }
}

.card-creator .creator-toggle {
  height: 28px;
  background: #ebecf0;
  color: rgb(23, 43, 77);
  padding: 4px 8px;
  &:hover {
    filter: brightness(90%);
  }
}
