.creator-section {
  // padding: 5px;
}

.creator-toggle {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  .toggle-icon {
    margin: 0 2px;
  }
}

.creator-form {
  display: flex;
  flex-direction: column;
  background: #ebecf0;
  border-radius: 3px;
}

.creator-form input {
  width: 100%;
}

.creator-form-actions {
  display: flex;
  margin-top: 5px;
}

.creator-form-actions button{
  background: #5aac44;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    filter: brightness(1.1);
  }
}

.creator-form-actions a{
  cursor: pointer;
  padding-top: 4px;
  color: #6b778c;
  &:hover {
    // filter: brightness(1.1);
    color: black;
  }
}